<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appat.ecamp"
    tools:ignore="InnerclassSeparator">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationCore.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TestActivity"></activity>
        <activity
            android:name=".ApplicationModules.StudentInformationModule.StudentRegistrationSuccessActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ApplicationModules.StudentInformationModule.StudentAttachmentUploadActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ApplicationModules.StudentInformationModule.StudentOtherInformationActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ApplicationModules.StudentInformationModule.StudentContactInformationActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".ApplicationModules.Dashboard.Activities.MainBottomBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ApplicationModules.UserManagement.ParentRegistrationActivity" />
        <activity
            android:name=".ApplicationModules.StudentInformationModule.StudentInformationFormActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ApplicationModules.UserManagement.ParentLoginActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".ApplicationModules.SplashScreen.SplashScreenActivity"
            android:theme="@style/AppThemeNoActionBar" />
    </application>

</manifest>